<mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Login</button>
      <div *ngIf="error" style="color:red">{{ error }}</div>
    </form>
  </mat-card>
  